build/
.cache
.vscode
compile_commands.json
CMakeCache.txt
CMakeFiles
logs
configs
plantuml.jar
cmake_install.cmake
CMakeUserPresets.json
Makefile
Tasks.xlsx
~Tasks.xlsx
.~Tasks.xlsx
messages_global.json
